<a href="https://colab.research.google.com/github/CaioPereira51/analitics-com-python/blob/main/CaioPereira_lista05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>FUMEC - Analytics com Python</font>
## **Lista de exercícios 05 - Controle de fluxo e outros recursos da linguagems Python**

<br>**ATENÇÃO:** para salvar o arquivo .ipynb do notebook, faça da seguinte forma:

* **Google Colaboratory**: opção do menu "Arquivo --> Fazer o donwnload --> Fazer download do .ipynb"

* Salve o arquivo com o nome "**SeuNome_lista05.ipynb**"

<br>

### **01) Execute as seguintes tarefas**:

1.   Crie uma função `primo` para calcular se um número passado como parâmetro é primo. A função deve retornar `True` ou `False`

**Saída esperada**:
```
primo(1): False
primo(7): True
primo(52): False
primo(53): True
```

In [8]:
# exercício 01 - <escrever o código neste bloco>
def calcula(numero):
  if numero <= 1:
    return False

  for i in range(2, int(numero ** 0.5) + 1):
    if numero % i == 0:
      return False

  return True


print('Primo(', 1, '): ', calcula(1))
print('Primo(', 7, '): ', calcula(7))
print('Primo(', 52, '): ', calcula(52))
print('Primo(', 53, '): ', calcula(53))

Primo( 1 ):  False
Primo( 7 ):  True
Primo( 52 ):  False
Primo( 53 ):  True

### **02) Execute as seguintes tarefas**:

1.   Crie uma função `divisores` para retornar os divisores de um número passado como parâmetro. A função deve retornar a lista dos divisores.

**Saída esperada**:
```
divisores(6): [1, 2, 3, 6]
divisores(24): [1, 2, 3, 4, 6, 8, 12, 24]
divisores(52): [1, 2, 4, 13, 26, 52]
divisores(53): [1, 53]
```

In [10]:
# exercício 02 - <escrever o código neste bloco>
num = int(input("Escreva um numero:"))

def divisores(n):
  divisores = []

  for i in range(1, n + 1):
    if n % i == 0:
      divisores.append(i)

  return divisores

print('Divisores(', num, '): ', divisores(num))

Escreva um numero:24
Divisores( 24 ):  [1, 2, 3, 4, 6, 8, 12, 24]

### **03) Execute as seguintes tarefas**:

1. Dada a lista de nomes ordenados abaixo, utilize a função `map()` para retornar todos os nomes em CAIXA ALTA (LETRAS MAIÚSCULAS)
```
lista = ['abel', 'clara', 'joao', 'lucas', 'luciana', 'maria', 'pedro', 'renata', 'renato', 'rosana', 'ze']
```

**Saída esperada**:
```
['ABEL',
 'CLARA',
 'JOAO',
 'LUCAS',
 'LUCIANA',
 'MARIA',
 'PEDRO',
 'RENATA',
 'RENATO',
 'ROSANA',
 'ZE']
```

In [12]:
# exercício 03 - <escrever o código neste bloco>
lista = ['abel', 'clara', 'joao', 'lucas', 'luciana', 'maria', 'pedro', 'renata', 'renato', 'rosana', 'ze']

def transforma(item):
  return item.upper();

list(map(transforma, lista))

['ABEL',
 'CLARA',
 'JOAO',
 'LUCAS',
 'LUCIANA',
 'MARIA',
 'PEDRO',
 'RENATA',
 'RENATO',
 'ROSANA',
 'ZE']

### **04) Execute as seguintes tarefas**:

1. Dada a lista de nomes ordenados abaixo, utilize a função `filter()` para retornar todos os nomes que começam com a letra `"l"` ou terminam com `"na"`

**Dica**: olhas as funções de string disponíveis, digitando `str.` e vendo as opções

```
lista = ['abel', 'clara', 'joao', 'lucas', 'luciana', 'maria', 'pedro', 'renata', 'renato', 'rosana', 'ze']
```

**Saída esperada**:
```
['lucas', 'luciana', 'rosana']
```

In [19]:
# exercício 04 - <escrever o código neste bloco>
lista = ['abel', 'clara', 'joao', 'lucas', 'luciana', 'maria', 'pedro', 'renata', 'renato', 'rosana', 'ze']

def string(item):
  return item[0] == 'l' or item[-2:] == 'na'

list(filter(string, lista))

['lucas', 'luciana', 'rosana']