<a href="https://colab.research.google.com/github/CaioPereira51/analitics-com-python/blob/main/CaioPereira_lista07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>FUMEC - Analytics com Python</font>
## **Lista de exercícios 07 - Análise de dados**

<br>**ATENÇÃO:** para salvar o arquivo .ipynb do notebook, faça da seguinte forma:

* **Google Colaboratory**: opção do menu "Arquivo --> Fazer download --> Fazer o download do .ipynb"

* Salve o arquivo com o nome "**SeuNome_lista07.ipynb**"

<br>

### **Importar o arquivo de dados**:

Arquivo de dados que será utilizado na lista de exercícios: "**flights.csv**".

In [1]:
url = 'https://drive.google.com/uc?export=download&id=1fqiEXAUp03XVaK2w066dWPlCrV0D32O-'

### **01) Execute as seguintes tarefas**:

Explorar o dataset "**flights.csv**" utilizando os recursos da biblioteca Pandas.

In [3]:
import pandas as pd

df = pd.read_csv(url)
df.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

Listar o número de linhas e colunas do dataset

In [8]:
num_linhas, num_colunas = df.shape

print(num_linhas, 'linhas')
print(num_colunas, 'colunas')

58492 linhas
14 colunas

Listar o nome das colunas do dataset

In [13]:
nome_colunas = df.columns

print(nome_colunas)

<bound method Index.all of Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')>

Executar o resumo estatístico do dataset

In [14]:
resumo = df.describe()

print(resumo)

              MONTH           DAY       WEEKDAY     SCHED_DEP     DEP_DELAY  \
count  58492.000000  58492.000000  58492.000000  58492.000000  57659.000000
mean       6.220646     15.702096      3.926862   1387.984836     10.921192
std        3.358484      8.760846      1.995777    482.810792     36.146210
min        1.000000      1.000000      1.000000      5.000000    -24.000000
25%        3.000000      8.000000      2.000000   1000.000000     -4.000000
50%        6.000000     16.000000      4.000000   1353.000000     -1.000000
75%        9.000000     23.000000      6.000000   1805.000000     10.000000
max       12.000000     31.000000      7.000000   2359.000000   1194.000000

           AIR_TIME          DIST     SCHED_ARR     ARR_DELAY      DIVERTED  \
count  57474.000000  58492.000000  58492.000000  57474.000000  58492.000000
mean     115.928576    872.900072   1549.399832      5.812315      0.002342
std       71.679591    624.996805    518.599952     38.411948      0.048340
min        8.000000     67.000000      1.000000    -60.000000      0.000000
25%       61.000000    391.000000   1159.000000    -12.000000      0.000000
50%       97.000000    690.000000   1603.000000     -4.000000      0.000000
75%      152.000000   1199.000000   1959.000000      9.000000      0.000000
max      577.000000   4502.000000   2359.000000   1185.000000      1.000000

          CANCELLED
count  58492.000000
mean       0.015062
std        0.121800
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

Qual o maior valor, a média e a mediana da coluna **'DIST'**

In [16]:
maior = df['DIST'].max()
media = df['DIST'].mean()
mediana = df['DIST'].median()

print(maior)
print(media)
print(mediana)

4502
872.9000718046913
690.0

Listar os valores únicos da coluna **'AIRLINE'**

In [17]:
valores = df['AIRLINE']

print(valores)

0        WN
1        UA
2        MQ
3        AA
4        WN
         ..
58487    AA
58488    F9
58489    OO
58490    WN
58491    OO
Name: AIRLINE, Length: 58492, dtype: object

Listar quantos são os valores únicos da coluna **'AIRLINE'**

In [24]:
unicos = df['AIRLINE'].unique

print(unicos)

<bound method Series.unique of 0        WN
1        UA
2        MQ
3        AA
4        WN
         ..
58487    AA
58488    F9
58489    OO
58490    WN
58491    OO
Name: AIRLINE, Length: 58492, dtype: object>

Listar quantos valores existem em cada valor único da coluna **'AIRLINE'**

In [ ]:
unicos = df['AIRLINE'].value_counts().unique

print(unicos)

Verificar as informações do dataset com o método info()

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

Listar o total de valores nulos (ausentes) em cada coluna

In [26]:
df.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

Preencher os valores nulos das colunas **'AIR_TIME'** e **'ARR_DELAY'** com a média dos valores das respectivas colunas

In [28]:
df["AIR_TIME"].fillna(df['AIR_TIME'].mean(), inplace=True)
df["ARR_DELAY"].fillna(df['ARR_DELAY'].mean(), inplace=True)
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

Listar novamente o total de valores nulos de cada coluna

In [29]:
df.isnull().sum()

MONTH          0
DAY            0
WEEKDAY        0
AIRLINE        0
ORG_AIR        0
DEST_AIR       0
SCHED_DEP      0
DEP_DELAY    833
AIR_TIME       0
DIST           0
SCHED_ARR      0
ARR_DELAY      0
DIVERTED       0
CANCELLED      0
dtype: int64

Excluir as linhas do dataset onde ainda existem valores nulos

In [30]:
df.dropna(inplace=True)

Listar novamente o total de valores nulos de cada coluna

In [31]:
df.isnull().sum()

MONTH        0
DAY          0
WEEKDAY      0
AIRLINE      0
ORG_AIR      0
DEST_AIR     0
SCHED_DEP    0
DEP_DELAY    0
AIR_TIME     0
DIST         0
SCHED_ARR    0
ARR_DELAY    0
DIVERTED     0
CANCELLED    0
dtype: int64

Listar novamente o número de linhas e colunas do dataset

In [32]:
num_linhas, num_colunas = df.shape

print(num_linhas, 'linhas')
print(num_colunas, 'colunas')

57659 linhas
14 colunas

Listar as linhas do dataset cujo valor da coluna **'AIRLINE'** é igual a **'HA'**

In [38]:
lista = df['AIRLINE'].loc[df['AIRLINE'] == 'HA']

print(lista)

582      HA
712      HA
878      HA
1053     HA
1269     HA
         ..
55883    HA
56174    HA
56350    HA
56816    HA
58391    HA
Name: AIRLINE, Length: 112, dtype: object

Listar as linhas do dataset cujo valor da coluna **'AIRLINE'** é igual a **'HA'** e o valor da coluna **'DEP_DELAY'** é maior do que **20.0**

In [42]:
lista = df['AIRLINE'].loc[(df['AIRLINE'] == 'HA') & (df['DEP_DELAY'] > 20)]

print(lista)

1345     HA
2316     HA
22584    HA
26127    HA
31675    HA
37664    HA
42165    HA
49971    HA
Name: AIRLINE, dtype: object