<a href="https://colab.research.google.com/github/CaioPereira51/analitics-com-python/blob/main/CaioPereira_lista02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>FUMEC - Analytics com Python</font>
## **Lista de exercícios 02 - Tipos básicos de dados**

<br>**ATENÇÃO:** para salvar o arquivo .ipynb do notebook, faça da seguinte forma:

* **Google Colaboratory**: opção do menu "Arquivo --> Fazer o donwnload --> Fazer download do .ipynb"

* Salve o arquivo com o nome "**SeuNome_lista02.ipynb**"

<br>

**01) Imprimir uma única string da forma apresentada abaixo (múltiplas linhas)**
```
Python
é uma
linguagem
bem legal!
```

In [ ]:
# exercício 01 - <escrever o código neste bloco>
print("Python\né uma\nlinguagem\nbem legal!")

Python
é uma
linguagem
bem legal!

**02) Imprimir a string cujo código ASCII dos caracteres segue abaixo:**

`97 110 97 108 121 116 105 99 115 32 99 111 109 32 112 121 116 104 111 110`

In [ ]:
# exercício 02 - <escrever o código neste bloco>
ascii = [97, 110, 97, 108, 121, 116, 105, 99, 115, 32, 99, 111, 109, 32, 112, 121, 116, 104, 111, 110]

print(''.join(chr(num) for num in ascii))

analytics com python

**03) Criar uma variável "x" e atribuir o valor "o rato roeu a roupa" e outra variável "y" com o valor " do rei de roma". Concatenar as duas variáveis em uma variável "z" e imprimir o conteúdo de "z"**

In [ ]:
# exercício 03 - <escrever o código neste bloco>
x = "o rato roeu a roupa"
y = " do rei de roma"
z = x + y

print(z)

o rato roeu a roupa do rei de roma

**04) Criar uma lista com as palavras da variável "z" do exercício anterior, produzindo a saída abaixo:**

```['o', 'rato', 'roeu', 'a', 'roupa', 'do', 'rei', 'de', 'roma']```

In [ ]:
# exercício 04 - <escrever o código neste bloco>
z = ['o', 'rato', 'roeu', 'a', 'roupa', 'do', 'rei', 'de', 'roma']

for item in z:
  resultado += item + " "

print(resultado)

o rato roeu a roupa do rei de roma

**05) Crie variáveis string com o conteúdo "Cinco elefantes ", "incomodam ", "muito mais!" e a partir das três variáveis, imprima a frase abaixo:**

`"Cinco elefantes incomodam incomodam incomodam incomodam incomodam muito mais!"`

In [ ]:
# exercício 05 - <escrever o código neste bloco>
x = "Cinco elefantes "
y = "incomodam "
z = "muito mais!"

print(x + (y*5) + z)

Cinco elefantes incomodam incomodam incomodam incomodam incomodam muito mais!

**06) Formatar o número "1100.12345" da seguinte forma:***

`R$ 1100,12 reais`

In [ ]:
# exercício 06 - <escrever o código neste bloco>
print("R$ {0:.2f}".format(1100.12345).replace('.',','))

R$ 1100,12

**07) Considere a string "Felicidade!". Exiba o primeiro caracter e os dois últimos caracteres, conforme abaixo:**

`F`

`e!`

In [ ]:
# exercício 07 - <escrever o código neste bloco>
palavra = 'Felicidade!'

print(palavra[:1])
print(palavra[9:])

F
e!

**08) Considere a string "Banana". Exiba os caracteres de dois em dois, conforme abaixo:**

`Bnn`

e depois

`aaa`

In [ ]:
# exercício 08 - <escrever o código neste bloco>
palavra = 'Banana'

print(palavra.replace("a", ""))
print(palavra.replace("B", "").replace("n", ""))

Bnn
aaa